
!.vscode/extensions.json
# Editor directories and files
# Environment variables
# Logs
# Next.js
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.env*.local
.env.*.local
.env.local
.env.production.backup
.env.vercel
.idea
.next/
.vercel
.vscode/*
dist
dist-ssr
dist/
index.html.bak
lerna-debug.log*
logs
next-env.d.ts
node_modules
npm-debug.log*
out/
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
